.about{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        h2{
            color: #0D1A2D;
            font-weight: 500;

        }
        .nav-links{
            display: flex;
            gap: 2rem;

            button{
                padding-block: 0.25rem;
                padding-inline: 0.75rem;
                border-radius: 1rem;
                border: 1px solid #0f1b2d;
                background-color: white;
                color:#000000;
                font-size: 0.9rem;
            }
            a{
                text-decoration: none;
            }
        }
        button{
            padding-block: 0.5rem;
            padding-inline: 0.75rem;
            border-radius: 1rem;
            border: 1px solid #0f1b2d;
            background-color: #0D1A2D;
            color: white;
        }
    }
    .hero-section{
        display:flex;
        flex-direction: column;
        align-items: center;
        height: 700px;
        width: 100%;
        background-image: url(heroImage.png);
        background-size: cover;
        object-fit: cover;
        border-radius: 1rem;
        padding-block: 2rem;
        color:white;
        position: relative;

        .hero-description{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            padding-block: 1rem;
            .hero-heading{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 1.5rem;
            }
            p{
                font-size: 1rem;
                text-align: center;
                width:70%;
            }

            button{
                padding-block: 0.5rem;
                padding-inline: 0.75rem;
                border-radius: 1rem;
                border: 1px solid #0f1b2d;
                background-color: #0D1A2D;
                color: white;
            }
        }

        .footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width:100%;
            padding-inline: 1rem;
            position: absolute;
            bottom: 0;
    
            .left-details{
                display: flex;
                align-items: center;
                gap: 0.75rem;
                padding-bottom: 1rem;
                .para{
                    p{
                        color: white;
                        font-size: 0.6rem;
                    }
                }
                .image-container{
                    background-color: rgba(255, 255, 255, 0.577);
                    display: flex;
                    border: 1px solid white;
                    backdrop-filter: blur(10px);
                    height: 100%;
                    width: 10%;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4rem;
                    padding: 0.2rem 2.5rem;

                    .image{
                        display: flex;
                        img{
                            height: 25px;
                            width: 25px;
                            border-radius: 50%;
                            background-size: cover;
                            object-fit: cover;
                        }
                        
                    }
                }
            }
            .right-details{
                display: flex;
                gap: 0.75rem;
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 0.75rem;
                }
            }
        }
        
    }

    
    
}