.home{
    width: 100%;
    text-wrap: wrap;
    button{
        background-color: white;
        padding-inline: 0.75rem;
        padding-block: 0.3rem;
        border-radius: 1rem;
        border: 0.2px solid rgb(177, 176, 176);
    }

    h1{
        font-weight: 500;
        margin-block: 2rem;
    } 
}


