* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 1rem;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    padding: 1.5rem;
}
