* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color:white;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#root{
    height: 100%;
    width: 100%;
    display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px 20px 10px;
    height: 10%;
    width: 100%;
}
nav img{
    height: 150px;
    width:auto;
    background-size: cover;
}
.nav-left-links, .nav-right-links{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-left-links{
    gap: 20px;
}
.nav-left-links a {
    text-decoration: none;
    color: #303030;
    font-size: 18px;
}
.nav-right-links{
    gap: 5px;
}
.nav-right-links a {
    color: #303030;
    font-size: 18px;
    font-weight: 500;

}
