* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    background-image: url("https://images.unsplash.com/photo-1767022724852-2297dc06aa53?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxNHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
:root{
    --x :50px;
    --y :50px;
}
.box{
    height: 100%;
    width: 100%;
    background: radial-gradient(150px at var(--x) var(--y), rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.883));
}