* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}
main{
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    width: 200px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.card h3{
    font-weight: 700;
    font-size: 20px;
    margin-bottom:2px;
    white-space: nowrap;
}
.card h4{
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 5px;
    color: crimson;
}
.card p{
    text-align: center;
    font-size: 10px;
    font-weight: 400;
}

img{
    height: 100px;
    width: 100px;
    border-radius:  50px;
    margin-bottom: 14px;
}