* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}
body{
    background: linear-gradient(to right bottom, rgb(26,26,26),rgb(30,30,30),black);
    color: white;
}
main{
    height: 100%;
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

section{
    height: 100%;
    max-width: 350px;
    background-color: black;
    border-radius: 10px;
    margin:0 auto;
}

.all-reels{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    scroll-snap-type: y mandatory;
    overflow: auto;
    scroll-behavior: smooth;
}
.all-reels::-webkit-scrollbar{
    display: none;
}

.reel{
    height: 100%;
    width:100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 2em;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom{
    padding: 30px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.948));
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor:default;
}

.bottom .user{
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    font-size: 0.7rem;
}

.image-container {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-ring{
    padding: 1px;
    border: 2px solid transparent;
    background:
        linear-gradient(#000, #000) padding-box,
        linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf) border-box;

}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user button{
    background-color: transparent;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid white;
    padding: 1px 3px;
    color: white;
    font-size: 0.7rem;
}
.bottom p{
    font-size: 0.7rem;
    padding: 2px 3px;
}

span{
    color:rgb(208, 208, 208);
    font-size: 10px;
    padding: 0px 3px;
}

.right{
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    gap: 10px;
    background: linear-gradient(to right, transparent, rgba(0,0,0,0.28));
}
.right > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height:50px;
    cursor: pointer;
}

.right h4 i{
    font-weight: 50;
    width: 20px;
    font-size: 1.5rem;
    color: rgb(252, 251, 251);
}
h6{
    font-size: 0.65rem;
    text-align: center;
}

.like .ri-heart-fill{
    color:#d82350;
}

.save .ri-bookmark-fill{
    color: white;
}
.right > div h4{
    pointer-events: none;
}
.right > div h6{
    pointer-events: none;
}

.right .mute{
    background-color: rgb(51, 51, 51, 0.5);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 7%;
    cursor: pointer;
}

.mute i{
    pointer-events: none;
}
.mute:active{
    scale: 0.95;
}

@media (min-width:2500px) {
    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50%;
    }
}
