* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

button{
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(196, 42, 15);
    border: 1px solid white;
    border-radius: 5px;
    color: rgb(178, 170, 170);
    position: relative;
    z-index: 1;
}
button:active{
    background-color: blue;
    scale: 1.1;
}