* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.card{
    width: 40%;
    height: 35%;
    border-radius: 10px;
    background-color: white;
    padding: 50px 25px;
}

.outer{
    width: 100%;
    height: 15%;
    border-radius: 50px;
    background-color: rgb(184, 183, 183);
    margin: 10px 0;
}

.inner{
    width: 0%;
    height: 100%;
    border-radius: 50px;
    background-color: green;
}

.bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card span{
    color: royalblue;
}
.bottom button{
   border: none;
   border-radius: 10px;
   padding:  10px 15px;
   background-color: green;
   color: white;
   font-size: 16px;
}
.card p{
    text-align: center;
    margin-bottom: 20px;
    font-weight:  bold;
}
.bottom h2{
    font-weight: 900;
    font-size: 50px;
}