* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue', Arial, Helvetica, sans-serif;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    height: 400px;
    width: 300px;
    background-color: white;
    padding: 15px;
    position: relative;
}
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom:10px;
}
.card h2{
    font-size:  20px;
    color: black;
}

.card #heart{
    position: absolute;
    top: 50%;
    left:50%;
    color: transparent;
    background: linear-gradient(to right bottom,rgb(250, 248, 251),rgb(162, 108, 215), rgb(112, 41, 183) 60% );
    background-clip: text;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.57,1.18,.73,1.66) 0.7s;
    opacity: 0;
    font-size: 50px;
}

.options{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 2px ;
}

.options i{
    cursor: pointer;
    font-size: 24px;
}
.optionsSetOne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    gap: 10px;
}
.optionsSetOne i{
    cursor: pointer;
}

.head{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
