.dock{
    display: flex;
    position: absolute;
    bottom: 1rem;
    gap: 0.75rem;
    left: 50%;
    transform:translateX(-50%);
    background-color: rgba(63, 63, 63, 0.395);
    padding-inline: 0.75rem;
    padding-block: 0.7rem;
    border-radius: 0.75rem;
    backdrop-filter: blur(5px);
    
    .icon{
        position:relative;
        padding: 0.5rem;
        border-radius: 0.5rem;
        display: flex;
        width: 3.75rem;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .github,
    .cli{
        background-color: black;
    }
    .note{
        background: linear-gradient(to bottom, rgb(255, 185, 99), rgb(255,153,28));
    }
    .pdf{
        background: linear-gradient(to bottom, rgb(255, 80, 91), rgb(255,25,40));
    }
    .calendar,
    .mail{
        background: linear-gradient(to bottom, rgb(105,94,255), rgb(66,52,255));
    }
    .spotify{
        background: linear-gradient(to bottom, rgb(29,185,84), rgb(29,185,84));
    }
    .link{
        background: linear-gradient(to bottom, rgb(163,97,170), rgb(142,33,154));
    }

    .icon:hover{
        transform: scale(1.25) translateY(-20%);
    }
    
    .icon:hover + .icon,
    .icon:has(+ .icon:hover){
        transform: scale(1.1) translateY(-10%);
    }
}

@media (min-width: 2560px){
    .dock{
        padding-inline: 1rem;
        padding-block: 1rem; 
        gap: 1rem;
        bottom: 2rem;

        .icon{
            width: 7rem;
        }
    }
}

@media (max-width:500px) {
    .dock{
        gap: 0.7rem;
        padding-inline: 0.5rem;
        padding-block: 0.5rem;
        bottom: 0.75rem;
        max-width: 90vw;
        overflow-x: auto;

        .icon{
            width: 2.75rem;
            padding-inline: 0.35rem;
            padding-block: 0.2rem;
            font-size: 0.8rem;
        }

        .icon:hover{
            transform: scale(1.15) translateY(-15%);
        }
        .icon:hover + .icon,
        .icon:has(+ .icon:hover){
            transform: scale(1.05) translateY(-7%);
        }
    }
}

@media (max-width:350px) {
    .dock{
        gap:0.75rem;

        .icon{
            width: 2.75rem;
            padding-block: 0.2rem;
        }
    }
}