.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.745);
    font-size: 0.9rem;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    background-color: #9e9e9e39;
    backdrop-filter: blur(5px);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;

    .left,
    .right{
        display: flex;
        gap: 0.75rem;
    }
}