.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.791);
    font-size: 0.95rem;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    background-color: #9e9e9e39;
    backdrop-filter: blur(5px);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;

    .left,
    .right{
        display: flex;
        gap: 0.75rem;
    }
}

@media (min-width: 2560px) {
    .nav {
        font-size: 2rem;
        .left{
            gap: 2rem;
            .apple-icon{
                img{
                   height: 100%;
                }
            }
        }
        .right{
            flex-wrap: wrap;
            gap: 3rem;
            .nav-icon{
                img{
                    height: 100%;
                }
            }
        }
    }
    
}
@media (max-width: 500px) {
    .nav {
        font-size: 0.7rem;
    }
    
}
@media (max-width: 400px) {
    .nav {
        p{
            display: none;
        }
        .right{
            .nav-item{
                display: flex;
                flex-wrap: wrap;
            }

        }
    }
    
}