.cli-window{
    height: 100%;
    width:100%;
    padding-bottom: 3rem;
    overflow: auto;
    background-color: rgb(33,33,33);
    cursor: text;

    div[name="react-console-emulator"]{
        background-color: transparent !important;
        height: 100%;
    }
    div[name="react-console-emulator"]::-webkit-scrollbar{
        display: none;
    }

}
.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s steps(2, start) infinite;
  color: #79d2b2;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
