.cards{
    overflow: scroll;
    height: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    white-space: pre-wrap;
    justify-content: center;
    gap: 2rem;
    font-weight: 400;
    padding-bottom: 10rem;

    .card{
        flex-grow: 1;
        flex-basis: 20rem;
        max-width: 30rem;
        padding-inline: 1.5rem;
        padding-block: 1.5rem;
        background-color: rgba(255, 255, 255, 0.141);
        border-radius: 0.5rem;
        color: rgba(245, 245, 245, 0.906);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: inset 0 0 10px rgba(0,0,0,0.5);


        img{
            border-radius: 1rem;
            width: 100%;
        }

        h1{
            color:palegreen;
            opacity: 0.7;
            font-size: 1.5rem;
            font-weight: 500;
        }

        .description{
            opacity:0.7 ;
            word-spacing: 0.4rem;
            line-height: 1.3;
        }

        .tags{
            display: flex;
            flex-wrap: wrap;
            gap:0.75rem;
            .tag{
                width: fit-content;
                background: linear-gradient(to bottom,rgba(225, 78, 107, 0.728),rgba(186, 56, 212, 0.348));;
                padding-inline: 1.25rem;
                padding-block: 0.75rem;
                border-radius: 0.75rem;
                white-space: nowrap;
            }
        }

        .urls{
            display: flex;
            gap: 1rem;

            a{
                color: rgb(227, 157, 237);
            }
        }
    }
}
