.note-window {
  padding: 1rem 1.5rem;
  height: 100%;
  overflow: scroll;
  padding-bottom: 10rem;
  font-size: 1rem;
}

.note-window * {
  max-width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
  white-space: pre-wrap; 
}
