.window{
    height: 100%;
    background-color: #060606;
    color: rgba(210, 208, 208, 0.906);
    border-radius: 0.75rem;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

    .nav{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.75rem;
        border-bottom: 1px solid rgba(245, 245, 245, 0.169);
        padding-inline: 0.75rem;
        padding-block: 0.5rem;

        .dots{
            display: flex;
            gap: 0.25rem;
    
            .dot{
                height: 15px;
                width: 15px;
                border-radius: 50%;
            }
            .red {
                background-color: #FF605C;
            }
            .yellow {
                background-color: #FFBD44;
            }
            .green {
                background-color: #00CA4E;
            }
        }

    }
    .main-content{
        height: 100%;
        font-size: 1rem;
    }
}