* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(34, 34, 34);
  pointer-events: none;
  cursor: none;
}

.mouse-follower {
  height: 30px;
  width: 30px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
}

.pointer {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
