* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.box{
    width: 30%;
    height: 50%;
    background-color: rgb(250, 250, 251);
    border: 2px solid white;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color{
    color: gray;
    font-size:  30px;
}

button{
    background-color: red;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}
button:active{
    scale: 1.2;
    background-color: indianred;
}